<p align="center">
    <strong>TERMS AND CONDITIONS</strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    These Terms and Conditions and any other documents referenced herein
    (collectively “terms and conditions”, “terms”), apply to the vInci
    application and platform (“App”,” application”,” service”). Please read
these terms carefully before using this App operated by    <strong>COMTRADE 360 d.o.o..</strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>IMPORTANT NOTICES:</strong>
</p>
<p>
    1. Read these Terms carefully before using the application. By downloading,
    installing, using this App, you accept and agree to these Terms which binds
    you legally. If you for whatever reason do not agree to these Terms you are
    not permitted to use this App and you must immediately cease using it and
    uninstall it.
</p>
<p>
    2. By using this App, you certify that you have read and reviewed these
    Terms and that you agree to comply with them. If you do not want to be
    bound by the terms of these Terms, you are advised to uninstall the
    application accordingly. <strong>COMTRADE 360</strong> only grants use and
    access of this application, its products, and its services to those who
    have accepted its terms.
</p>
<p>
    3. Any compatible device used for installing the App will be called
    “device” or “Device” for the purposes of this Terms document. In order to
    use this App your device must comply with the minimum system requirements.
    For Android devices those requirements are Android 5.0 (Lollipop),
    Bluetooth, GPS module, working accelerometer and gyroscope sensors.
</p>
<p>
    4. A functioning internet connection is required to be maintained. If your
    device has no or limited access to an internet connection, the App may not
    operate correctly.
</p>
<p>
    5. In order to use the App, you first must register a new account with the
    vInci service. For registering you will have to provide a unique username,
    active email address and password. Once your account has been verified, you
    will be able to use the features provided by the App.
</p>
<p>
    6. If you experience any technical issues with the App, if you would like
    to provide feedback regarding the App’s functionality or if you would like
to contact us regarding these Terms, you may contact<strong>COMTRADE 360 </strong>at our support email:    <strong>vinci.aal@comtrade.com </strong>.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>ACKNOWLEDGEMENTS</strong>
</p>
<p>
    1. <strong>COMTRADE 360 </strong>can update or revise the Terms
    periodically in its sole discretion, with or without notice. Your usage
    will be subject to the most recent revision of the Terms. If you continue
    using the App after a revision has been made public, it will be presumed
    that you accepted the revised Terms and that you are bound to them.
</p>
<p>
    2. You confirm that you are of legal age in your country to form a bounding
    contract and hereby agree to be bound by these Terms. If you need
    authorization or are a representative of a business or corporation, by
    using this App it well be regarded that you are authorized to use the App
    and that you agree to these Terms. <strong>COMTRADE 360 </strong>assumes no
    responsibility for liabilities related to age misrepresentation.
</p>
<p>
    3. Periodic updates to the App will be made available on the Google Play
    Store. Depending on the update, App version and content and the notion of
    where you downloaded the App from, you might be permitted to use the App
    until you have downloaded and installed the latest version.
</p>
<p>
    <a><strong>PRIVACY POLICY</strong></a>
</p>
<p>
    Before you continue using our application, we advise you to read our
    privacy policy
    <a
        href="https://vinci.comtrade360.com/legal/privacy-policy"
        target="_blank"
        title="https://vinci.comtrade360.com/legal/privacy-policy"
    >
        https://vinci.comtrade360.com/legal/privacy-policy
    </a>
    regarding our user data collection. It will help you better understand our
    practices<a id="_anchor_1" href="#_msocom_1" name="_msoanchor_1">[AW1]</a>
    .
</p>
<p>
    <strong>LICENSE</strong>
</p>
<p>
    To any subject to these Terms, Privacy Policy, and the Google Play Store
    rules, <strong>COMTRADE 360 </strong>grants non-exclusive,
    non-transferable, non-sublicensable, limited, personal, revocable license
    to use the App for the purposes of advancing the wellbeing, lifestyle, and
    overall health to elderly citizens. Any other utilization of this App is
    strongly prohibited. <strong>COMTRADE 360 </strong>reserves the right to
    revoke this license at any time, in its sole discretion.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>INTELLECTUAL PROPERTY</strong>
</p>
<p>
    1. You agree that all materials, products, and services provided on this
    App are the property of <strong>COMTRADE 360</strong>, its affiliates,
    directors, officers, employees, agents, suppliers, or licensors including
    all copyrights, trade secrets, trademarks, patents, and other intellectual
property. You also agree that you will not reproduce or redistribute    <strong>COMTARDE 360</strong>’s intellectual property in any way, including
    electronic, digital, or new trademark registrations.
</p>
<p>
    2. You grant <strong>COMTRADE 360</strong> a royalty-free and non-exclusive
    license to display, use, copy, transmit, and broadcast the content you
    upload and publish. For issues regarding intellectual property claims, you
    should contact the company in order to come to an agreement.
</p>
<p>
    3. Any trademarks and logos displayed on the App other than those used with
the permission of its third-party providers are property of    <strong>COMTRADE 360</strong>. Your use of the trademarks or other
    materials used in this App is strictly prohibited. You acknowledge that you
    have no right of access to the App’s source code.
</p>
<p>
    <strong>THIRD PARTY CONTENT</strong>
</p>
<p>
    This App may contain links or content to other third-party service
    providers or other applications. Third party does not fall under elements
    that <strong>COMTRADE 360 </strong>has any control over. As a user of this
    App, you agree not to endorse or monitor their content or violate their
    privacy policies. <strong>COMTRADE 360</strong> is not liable for any
    liability for loss of damage sustained as a result of your usage of the App
    and accessing of the third-party content and links.
</p>
<p>
    <strong>USER ACCOUNTS AND TERMINATION</strong>
</p>
<p>
    1. As a user of this App, you will have to register a new account with us
    and provide private information. You are responsible for ensuring the
    accuracy of this information, and you are responsible for maintaining the
    safety and security of your identifying information. You are also
    responsible for all activities that might occur under your account,
    username, email, or password.
</p>
<p>
    2. In situations where you think there are any possible issues regarding
    the security of your account on the application, inform us immediately so
    we may address them accordingly in a timely manner.
    <br/>
    <br/>
</p>
<p>
    3. <strong>COMTRADE 360 </strong>reserves all rights to discontinue,
    suspend, block, and terminate accounts at any time without notice for any
    reason in its sole discretion.
    <br/>
    <br/>
</p>
<p>
    4. <strong>COMTRADE 360 </strong>reserves all rights to edit or remove
    content and cancel orders at its sole discretion. Upon termination of your
    account, you must cease the use of the App and uninstall it from all of
    your applicable devices (install locations).
</p>
<p>
    <strong>APPLCIABLE LAW</strong>
</p>
<p>
    By using this application, you agree that the laws of Slovenia as the
    country of hosting, without regard to principles of conflict laws, will
    govern these terms and conditions, or any dispute of any sort that might
    come between <strong>COMTRADE 360 </strong>and you, or its business
    partners and associates.
</p>
<p>
    By using this App, you agree to:
</p>
<p>
    1. Not use the App in any unlawful manner, criminal purpose, or in any
    other manner that is not compliant with these Terms.
    <br/>
    <br/>
</p>
<p>
    2. Not use the App as part of any fraudulently or maliciously intent such
    as jailbreaking, reverse engineering, hacking, inserting of malicious code,
    inserting of malicious content or any other harmful data.
    <br/>
    <br/>
</p>
<p>
    3. Not use the App as part of a transmitting of any data or information
    that might be considered defamatory, abusive, threatening, indecent,
    discriminatory or any other way that could be considered as infringing on
    the rights of any third party.
    <br/>
    <br/>
</p>
<p>
    4. <strong>COMTRADE 360 </strong>reserves the right to disclose your
    identity in case of any rights violation that might result from the access
    or usage of this App.
</p>
<p>
    <strong>DISPUTES</strong>
</p>
<p>
    Any dispute related in any way to your using of this App or to products you
might purchase from us shall be arbitrated by state or federal court of    <strong>Slovenia</strong> and you consent to exclusive jurisdiction and
    venue of such courts.
</p>
<p>
    <strong>DISCLAIMER</strong>
</p>
<p>
    This App is provided to you “as is”. <strong>COMTRADE 360</strong>, its
    employees, staff, agents, representatives, licensors, partners, third party
    providers and affiliates, exclude any warranties of any kind. Any reliance
    on or use of the App be on your sole risk.
</p>
<p>
    <strong>INDEMNIFICATION</strong>
</p>
<p>
    You agree to indemnify <strong>COMTRADE 360</strong> and its affiliates and
    hold <strong>COMTRADE 360</strong> harmless against legal claims and
    demands that may arise from your use or misuse of our services. We reserve
    the right to select our own legal counsel.
</p>
<p>
    <strong>WARRANTY</strong>
</p>
<p>
    1. This App is provided on an “as-is” without any kind of warranty other
than those provided by the Google Play Store.    <strong>COMTRADE 360 </strong>is not responsible, nor does it endorse for
    the accuracy or reliability of any kind incorporated into the App.
    <br/>
    <br/>
</p>
<p>
    2. <strong>COMTRADE 360 </strong>is not liable for any damages that result
    in using an outdated version of the App or for any damages that resulted in
    the improper installing of the App on your device.
    <br/>
    <br/>
</p>
<p>
    3. We do not warrant the performance in any matter whatsoever of the App
    and its third-party services on your device.
</p>
<p>
    <strong>LIMITATION OF LIABILITY</strong>
</p>
<p>
    1. <strong>COMTRADE 360</strong> is not liable for any damages that may
    occur to you as a result of your misuse of our application.
    <br/>
    <br/>
</p>
<p>
    2. <strong>COMTRADE 360</strong> and the user, and this supersedes and
    replaces all prior agreements regarding the use of this application.
    <br/>
    <br/>
</p>
<p>
    3. You agree to use the App at your own risk. You acknowledge that we are
    not responsible or liable for any actions that you might take that are
    illegal, unauthorized, improper, or received by using this App.
</p>
<p>
    <strong>ADDITIONAL LICENSE TERMS AND CONDITIONS</strong>
</p>
<p>
    1. If any software if provided to you through Google Play Store (“market”,
    “store”), then the following additional terms and conditions stated in this
    paragraph may apply. These Terms are between you and us, and not with
    Google. You acknowledge that Google has no obligation or any connection
    with the App.
    <br/>
    <br/>
</p>
<p>
    2. In addition to these Terms, you must comply with the Google Terms of
    Service in case of downloading the App from the Google Play Store
</p>
<p>
    <strong>OTHER IMPORTANT TERMS</strong>
</p>
<p>
    1. We reserve the rights to transfer our rights and obligations under these
    Terms to another organization. This will not affect your rights or
    obligations under these Terms.
    <br/>
    <br/>
</p>
<p>
    2. You may not transfer your rights or obligations under these Terms.
    <br/>
    <br/>
</p>
<p>
    3. The entire agreement between us with the respect to your usage of this
    App is formed under these Terms.
</p>
